body {
  display: flex;
}

.contenedor {
  display: flex;
  font-family: "Arial", sans-serif;
  justify-content: center;
  flex-direction: column;
  align-items: center;     /* centra verticalmente */
  height: 100vh;           /* usa toda la altura de la pantalla */
  margin: 0;               /* elimina márgenes por defecto */
}

.fila {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.grupo {
  display: flex;
  flex-direction: column;
  width: 200px;
}

button {
  background-color: #1aab8a;
}

